body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  border: 5px solid black;
  width: 825px;
  margin: 5% auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(146, 144, 144);
  margin: 0 0;
  padding: 5px 5px;
  position: relative;
}

h1::after {
  display: inline-block;
  content: "SALE";
  background-color: red;
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  position: absolute;
  top: -15px;
  left: -35px;
  padding: 8px 24px;
}

p {
  font-weight: bolder;
}

.price {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}
.shipping {
  text-transform: uppercase;
  font-size: smaller;
  color: grey;
  margin-top: 0;
}
a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

ul {
  font-weight: bold;
  list-style: square;
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.add-cart-button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  font-size: larger;
  width: 100%;
  padding: 5px;
  border-top: 5px solid black;
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.product-details {
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 30px;
}
.more-info {
  display: inline-block;
  margin-bottom: 30px;
}

/* .box-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
} */
.color {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 25px;
  height: 25px;
  background-color: black;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  /* position: absolute;
  top: 0;
  left: 40px;
  width: 25px;
  height: 25px; */
  background-color: blue;
}

.color-red {
  /* position: absolute;
  top: 0;
  left: 80px;
  width: 25px;
  height: 25px; */
  background-color: red;
}

.color-yellow {
  /* position: absolute;
  top: 0;
  left: 120px;
  width: 25px;
  height: 25px; */
  background-color: yellow;
}

.color-green {
  /* position: absolute;
  top: 0;
  left: 160px;
  width: 25px;
  height: 25px; */
  background-color: green;
}

.color-brown {
  /* position: absolute;
  top: 0;
  left: 200px;
  width: 25px;
  height: 25px; */
  background-color: brown;
}
